@-moz-document url-prefix("https://www.youtube.com/watch?") {

/* hide header */
#masthead-positioner,
#masthead-positioner-height-offset {
	display: none;
}

/* fix for Black Youtube by Panos
   (overspecified to override its !important rule) */
div#page-container {
	margin-top: 0 !important;
}

/* main video sizing */

.watch-stage-mode #player {
	width: auto !important;
}

.watch-tiny {
	margin-top: 0 !important;
}

/* .watch-tiny needs to be selected separately because YouTube changes .watch-stage-mode to .watch-non-stage-mode at the tiny size, even when theater mode is selected */

.watch-stage-mode #player-api,
.watch-tiny       #player-api {
	width:  auto  !important;
	height: 100vh !important;
}

.watch-stage-mode .html5-main-video,
.watch-tiny       .html5-main-video {
	width:  100% !important;
	height: 100% !important;
}

}
